*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: var(--header-h) 1fr var(--header-h);
  min-height: 100dvh;
  grid-template-areas: 
    "header"
    "main"
    "footer";
}

.header {
  grid-area: header;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
}

.main {
  grid-area: main;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;  

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr; 
  gap: 25px; 
  align-items: start;
}

.footer {
  grid-area: footer;
  width: 100%;
  background-color: #333333;
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 15px 20px;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.app-container {
  width: 100%;
  max-width: 1200px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


.btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: #ffffff;
  transition: background-color 0.2s, transform 0.1s;
}

@media(hover: hover) {
  .btn:hover {
    background-color: #0056b3;
  }
}

.btn:active {
  transform: scale(0.98);
}